Code/
QtProject/
Thunar/
alacritty/
animepahe-dl/
dconf/
foot/
gtk-2.0/
gtk-3.0/
gtk-4.0/
htop/
kdeconnect/
lxqt/
mimeapps.list
mozilla/
mpv/
nwg-look/
pavucontrol.ini
pulse/
user-dirs.dirs
user-dirs.locale
vlc/
xarchiver/
xdg-desktop-portal/
xfce4/
xsettingsd/
