/* Use the black theme from the store for firefox
Firefox URL bar / search suggestions styling */
#TabsToolbar {
  visibility: collapse !important;
}
/* hide the bar */
#navigator-toolbox {
  margin-top: -75px; /*lessen it if the bar isnt visible*/
  transition: margin-top 0.15s ease-in-out !important;
  z-index: 100;
}

/* 3. show the bar when hovered*/
#navigator-toolbox:hover,
#navigator-toolbox:focus-within {
  margin-top: 0px !important;
}
